.allContent {
  display: inline-block;
  float:left;
  transition: all .3s;

  .selectedContent {
    @include outer-container;
    margin: 2rem;
    display: inline-block;

    a {
      @include span-columns(4);
      @include omega(3n);
    }

    li {
      margin-bottom: 1.5rem;
      border: solid $color-primary-3 .1rem;
      img {
        border-bottom: solid $color-primary-3 .1rem;
      }
    }

    h2 {
      margin: 0;
      height: 2.75rem;
      padding: .5rem;
      font-size: .75rem;
      transition: all .3s;
    }

  }

}

.allContent.reduceWidth {
  width: 85%;
  transition: all .3s;
}

.allContent.imageView {
  background: $color-primary-4;
  width: 100%;
  transition: all .3s;
  .pageHeader {
    border-bottom: 0;
    background: $color-primary-4;
  }

  .selectedContent {

    li {
      border: 0;
      @include clearfix;
    }

    img {
      border: solid .5rem $color-secondary-2-0;
      @include span-columns(8);
      @include shift(2);
    }
  }

}
