.pageHeader {
  background: $color-secondary-2-1;
  color: $color-header-text;
  padding: .25rem 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: .5rem solid $color-secondary-1-1;
  position: relative;

  button {
    position: absolute;
    left: 2rem;
    top: 2rem;
    border-radius: .5rem;
    border-top: 0;
    border-right: .2rem;
    border-bottom: .2rem;
    border-left: 0;
    border-style: solid;
    border-color: $color-primary-1;
    background: $color-secondary-2-0;
    color: $color-header-text;
    font-weight: 400;
    font-size: 1rem;
    padding: .5rem;
  }

}



// SEE CONTENT BOX STYLING FOR IMAGE ONLY HEADER DISPLAY DETAILS
