.sideMenu {
  box-sizing: border-box;
  // display: none;
  width: 0%;
  float: left;
  // width: 15%;
  height: 0vw;
  background: $color-primary-3;
  // border-right: .5rem solid $color-secondary-1-1;
  padding-top: 10vw;
  transition: all .4s;

  button {
    width: 0%;
  }
}

.sideMenu.showMenu {
  display: inline-block;
  width: 15%;
  height: 80vw;
  border-right: .5rem solid $color-secondary-1-1;
  border-bottom: .5rem solid $color-secondary-1-1;
  transition: all .4s;
  button {
    width: 80%;
    margin: 1vw;
    font-size: .5rem;
    transition: all .4s;
  }
}
