@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  width: 100%;
  font-size: 62.5%;
  font-family: 'Ubuntu', Georgia, sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #6C717E;
  box-sizing: border-box; }

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #6C717E; }

button {
  border-radius: .5rem;
  border-top: 0;
  border-right: .2rem;
  border-bottom: .2rem;
  border-left: 0;
  border-style: solid;
  border-color: #052067;
  background: #27586B;
  color: white;
  font-weight: 400;
  font-size: .5rem;
  padding: .5rem; }

.sideMenu {
  box-sizing: border-box;
  width: 0%;
  float: left;
  height: 0vw;
  background: #4C5878;
  padding-top: 10vw;
  transition: all .4s; }
  .sideMenu button {
    width: 0%; }

.sideMenu.showMenu {
  display: inline-block;
  width: 15%;
  height: 80vw;
  border-right: 0.5rem solid #1A0669;
  border-bottom: 0.5rem solid #1A0669;
  transition: all .4s; }
  .sideMenu.showMenu button {
    width: 80%;
    margin: 1vw;
    font-size: 1rem; }

.pageHeader {
  background: #024660;
  color: white;
  padding: .25rem 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 0.5rem solid #1A0669;
  position: relative; }
  .pageHeader button {
    position: absolute;
    left: 2rem;
    top: 2rem;
    border-radius: .5rem;
    border-top: 0;
    border-right: .2rem;
    border-bottom: .2rem;
    border-left: 0;
    border-style: solid;
    border-color: #052067;
    background: #27586B;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    padding: .5rem; }

.allContent {
  display: inline-block;
  float: left; }
  .allContent .selectedContent {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin: 2rem;
    display: inline-block; }
    .allContent .selectedContent::after {
      clear: both;
      content: "";
      display: block; }
    .allContent .selectedContent a {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .allContent .selectedContent a:last-child {
        margin-right: 0; }
      .allContent .selectedContent a:nth-child(3n) {
        margin-right: 0; }
      .allContent .selectedContent a:nth-child(3n+1) {
        clear: left; }
    .allContent .selectedContent li {
      margin-bottom: 1.5rem;
      border: solid #4C5878 0.1rem; }
      .allContent .selectedContent li img {
        border-bottom: solid #4C5878 0.1rem; }
    .allContent .selectedContent h2 {
      margin: 0;
      height: 2.75rem;
      padding: .5rem;
      font-size: .75rem; }

.allContent.reduceWidth {
  width: 85%; }

.allContent.imageView {
  background: #024660;
  width: 100%; }
  .allContent.imageView .pageHeader {
    border-bottom: 0; }
  .allContent.imageView .selectedContent li {
    border: 0; }
    .allContent.imageView .selectedContent li::after {
      clear: both;
      content: "";
      display: block; }
  .allContent.imageView .selectedContent img {
    border: solid 0.5rem #27586B;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .allContent.imageView .selectedContent img:last-child {
      margin-right: 0; }

footer {
  background: #024660;
  padding: 1vw 0;
  border-top: 0.5rem solid #27586B;
  clear: both; }

/*# sourceMappingURL=main.css.map */
